*.pyc
*.swp
*.ipynb_checkpoints
animations/*.mp4
animations/*.pdf
animations/*.png
animations/*.jpg
stills/
tmp_*

# pypi stuff
build
dist
*.egg-info  

make_sine_movies_script.sh

# travis stuff
.pytest_cache
test.mp4
